apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerBinding
metadata:
  name: {{ include "parasol-store-build.name" . }}-pr-merged
spec:
  params:
    - name: git-repo-url
      value: $(body.object_attributes.source.git_http_url)
    - name: git-revision
      value: $(body.object_attributes.merge_commit_sha)
    - name: git-revision-short
      value: $(extensions.commit-id-short)
    - name: output-image
      value: {{ include "parasol-store.image" . }}
    - name: dockerfile
      value: {{ .Values.image.dockerfile }}
    - name: manifest-repo
      value: {{ include "parasol-store-manifests.git.repo" .}}
    - name: manifest-branch-dev
      value: {{ .Values.manifests.git.branch.dev }}
    - name: manifest-branch-staging
      value: {{ .Values.manifests.git.branch.staging }}
    - name: manifest-file-dev
      value: {{ .Values.manifests.dev }}
    - name: manifest-file-staging
      value: {{ .Values.manifests.staging }}
    - name: git-token-secret-name
      value: {{ include "parasol-store-build.name" . }}-git-token
    - name: git-token-secret-key
      value: token
    - name: git-user
      value: {{ .Values.git.user }}
